/first_main/bin
/first_main/make.sh
/first_main/tsconfig.json
/first_main/libs_mac.sh.dst
/first_main/pack.py
/first_main/path.py
/first_main/start.bat
/first_main/updatelibs.py.dst
/first_main/make.sh.dst
/first_main/.laya/chrome
/first_main/src/gamedatingnqp
/first_main/libs/game*.d.ts
/first_main/libs/tsd
/first_main/src/gamecomponent
/first_main/cmd_index_handle.sh
/first_main/index_libs/game.txt
/lib_release
/first_main/temp.txt
/first_main/src/game*
